body {
	font-family: $baseFontFace;
	font-size: $baseFontSize;
}

.container {
	width: 80%;
	margin: auto;
}

section#picture {
	padding-top: 100px;
	background: url(../img/picture.jpg) no-repeat 0-200px;
	min-height: 400px;
	text-align: center;
	color: $lightColor;
	h2 {
		padding-top: 100px;
		padding-bottom: 20px;
		font-size: 3.2rem;
	}
	h3 {
		font-size: 1.3rem;
		color: $lightColorDarker;
	}
}

section#newsletter {
	background: $darkColor;
	color: $lightColor;
	padding: 15px 0;
	h2 {
		font-size: 1.8rem;
		text-align: center;
		margin-bottom: 15px;
	}
	.inputsContainer {
		display: flex;
		input {
			flex: 5;
			border: 0;
			height: 32px;
			font-size: 1rem;
		}
		button {
			flex: 1;
			border: 0;
			height: 32px;
			font-size: 1rem;
			background: $primaryColor;
			color: $lightColor;
			margin-left: 20px;
			&:hover {
				background: $primaryColorLighter;
				cursor: pointer;
			}
		}
	}
}

section#offer {
	h2 {
		font-size: 1.8rem;
		background: $primaryColor;
		color: $lightColor;
		text-align: center;
		padding: 20px;
		margin-top: 20px;
	}
	#imageBoxes {	
		display: flex;
		.imageBox {
			flex: 1;
			background: $lightColorDarker;
			margin: 20px;
			padding: 20px;
			text-align: center;
			img {
				width: 40%;
				margin-bottom: 15px;
			}
			h3 {
				font-size: 1rem;
				margin-bottom: 10px;
			}
		}
	}
	.offerBox {
		margin: 20px 0;
		padding: 20px;
		background: $darkColor;
		color: $lightColor;
		h3 {
			margin-bottom: 15px;
		}
		p {
			margin-bottom: 10px;
			text-align: justify;
		}
	}
}

section#about {
	h2 {
		font-size: 1.8rem;
		background: $primaryColor;
		color: $lightColor;
		text-align: center;
		padding: 20px;
	}
	h3 {
		margin-bottom: 10px;
	}
	.flexContainer {
		display: flex;
		align-items: flex-start;
		#aboutBoxes {
			flex: 3;
			.aboutBox {
				background: $lightColorDarker;
				padding: 20px;
				margin: 20px 20px 20px 0;
				text-align: justify;
			}
		}
		#contactBox {
			flex: 1;
			background: $darkColor;
			color: $lightColor;
			padding: 20px;
			margin: 20px 0;
			height: auto;
			* {
				display: block;
				width: 100%;
			}
			label {
				margin-top: 10px;
				margin-bottom: 5px;
			}
			input {
				height: 30px;
				border: 0;
			}
			textarea {
				height: 120px;
				border: 0;
				font-family: Arial;
				font-size: 0.8rem;
			}
			button {
				background: $primaryColor;	
				color: $lightColor;
				border: 0;
				margin-top: 15px;
				height: 30px;
				&:hover {
					background: $primaryColorLighter;
					cursor: pointer;
				}
			}
		}
	}
}